{% extends 'base.html.twig' %}

{% block title %}Evenements index{% endblock %}

{% block body %}
    <h1>Evenements index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Quantite</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.startDate ? evenement.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.endDate ? evenement.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.quantite }}</td>
                <td>{{ evenement.total }}</td>
                <td>
                    <a href="{{ path('evenements_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('evenements_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evenements_new') }}">Create new</a>
{% endblock %}
