
{% extends 'base_dashboard.html.twig' %}

{% block title %}Mettre à jour la TVA{% endblock %}

{% block body %}

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        {% if app.user %}
            {% set id = app.user.id %}
            {% for entreprise in entreprises %}
                {% for user in entreprise.fkUser %}
                    {% if id == user.id %}
                        <a class="navbar-brand" href="">{{entreprise.nom}}</a>
                    {%endif%}
                {%endfor%}
            {%endfor%}
        {%endif%}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    {% if app.user %}
                        {% set id = app.user.id %}
                        {% for entreprise in entreprises %}
                            {% for user in entreprise.fkUser %}
                                {% if id == user.id  %}                                   
                                    <a class="nav-link" href="{{ path('evenements_index',  {'id': entreprise.id}) }}">
                                    {%endif%}
                                {%endfor%}
                            {%endfor%}
                        {%endif%}
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">CRM</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    {% if app.user %}
                        {% set id = app.user.id %}
                        {% for entreprise in entreprises %}
                            {% for user in entreprise.fkUser %}
                                {% if id == user.id  %}                                    
                                    <a class="nav-link" href="{{ path('evenements_planning', {'id': entreprise.id})}}">
                                    {%endif%}
                                {%endfor%}
                            {%endfor%}
                        {%endif%}
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Planning</span>
                    </a>
                </li>  
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    {% if app.user %}
                        {% set id = app.user.id %}
                        {% for entreprise in entreprises %}
                            {% for user in entreprise.fkUser %}
                                {% if id == user.id  %}          
                                    <a class="nav-link" href="{{ path('evenements_index', {'id': entreprise.id}) }}">
                                    {%endif%}
                                {%endfor%}
                            {%endfor%}
                        {%endif%}
                        <i class="fa fa-fw fa-bar-chart-o"></i>
                        <span class="nav-link-text">Finance</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href=" {% if app.user %}
                       {% set id = app.user.id %}
                       {% for entreprise in entreprises %}
                           {% for user in entreprise.fkUser %}
                               {% if id == user.id  %}  
                                   {{ path('entreprise_edit', {'id': entreprise.id}) }}
                               {%endif%}
                           {%endfor%}
                       {%endfor%}
                       {%endif%}"
                           class="nav-link" >
                           <i class="fa fa-cog "></i>                     
                           Paramétres de 
                           {% if app.user %}
                               {% set id = app.user.id %}
                               {% for entreprise in entreprises %}
                                   {% for user in entreprise.fkUser %}
                                       {% if id == user.id  %}  
                                           {{entreprise.nom}}
                                       {%endif%}
                                   {%endfor%}
                               {%endfor%}
                           {%endif%}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Example DataTables Card-->
                <div class="card card-register mx-auto mt-5">
                    <div class="card-header text-center">Nouveau Client</div>
                    <div class="card-body">
                        {{ form_start(form)}}
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.nom) }}  
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.prenom) }}     
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.DateNaissance) }}  
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.adresse) }}     
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div>
                                    <select style="display: none;" id="countrySelect" name="country">
                                        <option value="FR"> France</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.CodePostal, {'attr': {'onblur': 'postalCodeLookup ();'} }) }}  
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        {{ form_row(form.Ville, {'attr': {'onblur': 'closeSuggestBox ();'} }) }}   
                                        <span style="z-index:25;visibility: hidden;" id="suggestBoxElement"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="mt-1 text-center col-md-12">
                                    {{ include('clients/_form.html.twig') }}
                                </div>  
                            </div>
                        </div>
                        {% for entreprise in entreprises %}
                            {%dump(entreprise)%}
                            <a href="{{ path('evenements_index', {'id': entreprise.id} ) }}">Retour a la liste des clients</a>
                        {%endfor%}
                        {{ form_end(form) }}






                        <!-- /.container-fluid-->
                        <!-- /.content-wrapper-->
                        <!-- Scroll to Top Button-->
                        <a class="scroll-to-top rounded" href="#page-top">
                            <i class="fa fa-angle-up"></i>
                        </a>
                        <!-- Logout Modal-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-primary" href="{{ path('security_logout')}}">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{{ path('security_logout')}}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
        {% block javascripts %}
            <!-- Bootstrap core JavaScript-->
            <script src="{{asset('assets/vendor/jquery/jquery.min.js')}}"></script>
            <script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <!-- Core plugin JavaScript-->
            <script src="{{asset('assets/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
            <!-- Page level plugin JavaScript-->
            <script src="{{asset('assets/vendor/chart.js/Chart.min.js')}}"></script>
            <script src="{{asset('assets/vendor/datatables/jquery.dataTables.min.js')}}"></script>
            <script src="{{asset('assets/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
            <!-- Custom scripts for all pages-->
            <script src="{{asset('assets/js/sb-admin.min.js')}}"></script>

            <!-- Custom scripts for this page-->
            <script src="{{asset('assets/js/sb-admin-datatables.min.js')}}"></script>

            <script type="text/javascript" src="http://api.geonames.org/export/geonamesData.js?username=elkawaie"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jsr_class.js')}}"></script>

            <script type="text/javascript" >
                // postalcodes is filled by the JSON callback and used by the mouse event handlers of the suggest box
                var postalcodes;

                // this function will be called by our JSON callback
                // the parameter jData will contain an array with postalcode objects
                function getLocation(jData) {
                    if (jData == null) {
                        // There was a problem parsing search results
                        return;
                    }

                    // save place array in 'postalcodes' to make it accessible from mouse event handlers
                    postalcodes = jData.postalcodes;

                    if (postalcodes.length > 1) {
                        // we got several places for the postalcode
                        // make suggest box visible
                        document.getElementById('suggestBoxElement').style.visibility = 'visible';
                        var suggestBoxHTML = '';
                        // iterate over places and build suggest box content
                        for (i = 0; i < jData.postalcodes.length; i++) {
                            // for every postalcode record we create a html div 
                            // each div gets an id using the array index for later retrieval 
                            // define mouse event handlers to highlight places on mouseover
                            // and to select a place on click
                            // all events receive the postalcode array index as input parameter
                            suggestBoxHTML += "<div class='suggestions' id=pcId" + i + " onmousedown='suggestBoxMouseDown(" + i + ")' onmouseover='suggestBoxMouseOver(" + i + ")' onmouseout='suggestBoxMouseOut(" + i + ")'> " + postalcodes[i].countryCode + ' ' + postalcodes[i].postalcode + '    ' + postalcodes[i].placeName + '</div>';
                        }
                        // display suggest box
                        document.getElementById('suggestBoxElement').innerHTML = suggestBoxHTML;
                    } else {
                        if (postalcodes.length == 1) {
                            // exactly one place for postalcode
                            // directly fill the form, no suggest box required 
                            var placeInput = document.getElementById("clients_Ville");

                            placeInput.value = postalcodes[0].placeName;
                        }
                        closeSuggestBox();
                    }
                }


                function closeSuggestBox() {
                    document.getElementById('suggestBoxElement').innerHTML = '';
                    document.getElementById('suggestBoxElement').style.visibility = 'hidden';
                }


                // remove highlight on mouse out event
                function suggestBoxMouseOut(obj) {
                    document.getElementById('pcId' + obj).className = 'suggestions';
                }

                // the user has selected a place name from the suggest box
                function suggestBoxMouseDown(obj) {
                    closeSuggestBox();
                    var placeInput = document.getElementById("placeInput");
                    placeInput.value = postalcodes[obj].placeName;
                }

                // function to highlight places on mouse over event
                function suggestBoxMouseOver(obj) {
                    document.getElementById('pcId' + obj).className = 'suggestionMouseOver';
                }


                // this function is called when the user leaves the postal code input field
                // it call the geonames.org JSON webservice to fetch an array of places 
                // for the given postal code 
                function postalCodeLookup() {

                    var country = document.getElementById("countrySelect").value;

                    if (geonamesPostalCodeCountries.toString().search(country) == -1) {
                        return; // selected country not supported by geonames
                    }
                    // display 'loading' in suggest box
                    document.getElementById('suggestBoxElement').style.visibility = 'visible';
                    document.getElementById('suggestBoxElement').innerHTML = '<small><i>loading ...</i></small>';

                    var postalcode = document.getElementById("clients_CodePostal").value;

                    request = 'http://api.geonames.org/postalCodeLookupJSON?postalcode=' + postalcode + '&country=' + country + '&callback=getLocation&username=elkawaie';

                    // Create a new script object
                    aObj = new JSONscriptRequest(request);
                    // Build the script tag
                    aObj.buildScriptTag();
                    // Execute (add) the script tag
                    aObj.addScriptTag();
                }

                // set the country of the user's ip (included in geonamesData.js) as selected country 
                // in the country select box of the address form
                function setDefaultCountry() {
                    var countrySelect = document.getElementById("countrySelect");
                    for (i = 0; i < countrySelect.length; i++) {
                        // the javascript geonamesData.js contains the countrycode
                        // of the userIp in the variable 'geonamesUserIpCountryCode'
                        if (countrySelect[i].value == geonamesUserIpCountryCode) {
                            // set the country selectionfield
                            countrySelect.selectedIndex = i;
                        }
                    }
                }
            </script>
        {% endblock %}

