
{% extends 'base_dashboard.html.twig' %}

{% block title %}Choix du tarif{% endblock %}

{% block body %}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        {% for entreprise in entreprises %}              
            {% if loop.first %}
                <a class="navbar-brand" href="{{ path('index',  {'id': entreprise.id}) }}">{{ entreprise.nom}}</a>
            {%endif%}            
        {%endfor%} 
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    {% for entreprise in entreprises %}                      
                        <a class="nav-link" href="{{ path('index',  {'id': entreprise.id}) }}">
                        {%endfor%}                   
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    {% for entreprise in entreprises %}   
                        <a class="nav-link" href="{{ path('evenements_index', {'id': entreprise.id})}}">
                        {%endfor%}
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">CRM</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    {% for entreprise in entreprises %} 

                        <a class="nav-link" href="{{ path('evenements_planning', {'id': entreprise.id})}}">

                        {%endfor%}
                        <i class="fa fa-fw fa-area-chart"></i>       
                        <span class="nav-link-text">Planning</span>          
                    </a>
                </li>  
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="">
                        <i class="fa fa-fw fa-bar-chart-o"></i>
                        <span class="nav-link-text">Finance</span>
                    </a>
                </li>              
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="
                       {% if app.user %}
                           {% set id = app.user.id %}
                           {% for entreprise in entreprises %} 
                               {{ path('entreprise_edit', {'id': entreprise.id}) }}
                           {%endfor%}
                       {%endif%}"
                       class="nav-link" >
                        <i class="fa fa-cog "></i>                     
                        Paramétres de 
                        {% if app.user %}
                            {% set id = app.user.id %}
                            {% for entreprise in entreprises %}
                                {{entreprise.nom}}
                            {%endfor%}
                        {%endif%}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">CRM</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Choix de votre Tarif</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr> 
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>

                                </tr>
                            </tfoot>
                            <tbody>
                                {#  <li>">{{ tarif.designation }}</a></li> #}
                                <tr>  

                                    {% for tarif in tarifs %}
                                        {% for entreprise in tarif.fkEntrepriseTarif %}
                                            {% if entreprise.id == idEntreprise %}

                                                <td>{{tarif.designation}} 
                                                    {% if tarif.tarifHoraire == true %}
                                                        ({{tarif.valeur}}€/h)
                                                    {%endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('evenements_new', {'type': tarif.tarifHoraire, 'id': entreprise.id, 'tarif':tarif.id, 'idClient' :idClient }) }}">Choisir ce tarif</a>

                                                </td>
                                            </tr> 
                                        {%endif%}
                                    {% endfor %}
                                {%endfor%} 

                            </tbody>
                        </table>                       
                    </div>
                    {% for entreprise in entreprises %}

                        <a href="{{ path('evenements_index', {'id': entreprise.id} ) }}">Retour a la liste des clients</a>
                    {%endfor%}
                </div>

            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                      <small>Copyright Yeah | Développé par Max |</small> <a href="{{ path('mention_legales')}}" target="_blank"> Mentions Legales</a>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="{{ path('security_logout')}}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


